
  * {
    margin: 0;
    padding: 0;
  
}

.container {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-family: Helvetica, sans-serif;
    height: 80vh;

}
.container-left {
        background-image: url('PXL_20221123_025059024_copy.jpg');
        background-size: cover;
        background-position: center center;

        background-repeat: no-repeat;
        width: 40%;
        height: 100%;
        
    
      }


.container-logo {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 3em;
        background-color: rgb(0, 0, 0, 0.4);
        color: white;
        font-size: 24px;
        margin-top: 5em;
    }



.container-right {
    width: 60%;
    height: 100%;
}




.container-form {

padding: 24px;

  }
  .input-container {
    display: inline-block;
    position: relative;
    width: 260px;
    height: 60px;

  }




.container-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    background-color: rgb(250, 250, 250);

    padding: 48px 24px;
}


.container-form > p {
    font-size: 22px;
    font-weight: bold;
   
    
}

.container-button {
    font-weight: bold;
    background-color: rgb(250, 250, 250);

    padding: 48px 24px;
}
button {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bolder;
    padding: 12px 40px;
    border-radius: 5px;
    border: 0px;
    background-color: #596D48;
    color: white;
    box-shadow: 1px 2px 3px #888888;
}
.login {
    margin-top: 20px;
    font-size: 18px;
}
a {
    text-decoration: none;
    color: #596D48;
}
input {
    border: 1px solid #E5E7EB;
    font-size: 20px;
    border-radius: 3px;
    outline: none;
    margin: 10px;
    width: 200px;

}

input:not(:placeholder-shown):not(:focus):invalid {
    border: 1px solid red;
}
input:valid,
input:focus:valid {
    border: 1px solid green;
}
input:focus {
    border: 1px solid rgb(96, 96, 235);
    box-shadow: 1px 2px 3px #888888;

}
label {

margin-left: 10px;
    font-size: 16px;
    font-size: 0.75rem;
    font-weight: bold;
    
}
@media only screen and (max-width: 550px) {
    .container {
        
    flex-direction: column;}
    .container-left {
        min-height: 12em;
        width: 100%;
    
    }
    .container-right {
        width: 100%;
    }
    .container-form {
        margin-left: 20px;
        display: inline-block;
    }
    .container-form > p {
        padding-right: 0;
    }
}   
@media only screen and (min-width: 1600px) {
    .container-header, .container-button, .container-form {
        padding-right: 500px;
    }
}